<!DOCTYPE html>
<html>
<head>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
	<title>KSRTC Unreserved Bus Timings</title>

	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9389313017913973"
     crossorigin="anonymous"></script>
	
</head>
<body>   
     <div class="cardindexforheader">

     <h1   style="font-size: larger;
     ">Welcome to My website!</h1>
     </div>

    
	<form method="post" id="form1" action="/source" >
        <div class="cardindex">
          
        <h1> KSRTC UNRESERVED TIMINGS </h1>
		<label for=" Select Source">Source:</label>
		
		<!-- <select  class ="selection"id="text" name="source" >
			<option> Choose Source</option> -->
    <input  placeholder="Enter Source" autocomplete="off" required="required" type="text" class =" selection" id="Source" name="source" list="sourceinfo">
         <datalist id="sourceinfo">
         <% for (var i =0; i<searchcontents.length ; i++){ %>    	
        <option><%= searchcontents[i] %></option>
		<% } %>
    </datalist>
      
	     
         <input type="submit" id = "submit" value="Select Destination">
         <br><br>
         <!-- <label for=" Select Destination ">Destination:</label>
         <input type="text" class="selection" name="myTextbox" id="myTextbox" value=" Destination" style="font-weight: 150;" readonly> -->
        
         </div>
     </form>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9389313017913973"
     crossorigin="anonymous"></script>
<!-- ff -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9389313017913973"
     data-ad-slot="8237077816"
     data-ad-format="auto"
     data-full-width-responsive="true"
     google-adtest="on"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>